{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Management</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="nav-brand">
                <a href="{% url 'home' %}">TaskApp</a>
            </div>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li> 
                    <li>
                        <a href="{% url 'tasks' %}">Tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'signout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'signin' %}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    <script>
        document.getElementById('openModalBtn')?.addEventListener('click', function() {
            document.getElementById('createTaskModal').showModal();
        });
        document.getElementById('openTaskDetailsModal')?.addEventListener('click', function() {
            document.getElementById('taskDetailsModal').showModal();
        });
    </script>
</body>
</html>