{% extends 'base.html' %}

{% block content %}
    <h2>Your tasks</h2>
    <button id="openModalBtn">Create New Task</button>
    <ul>
        {% for task in tasks %}
            <li><a href="{% url 'task_details' task.id %}">{{ task.title }}</a></li>
        {% empty %}
            <li>No tasks.</li>
        {% endfor %}
    </ul>
    <dialog id="createTaskModal">
        <form method="post" action="{% url 'create_task' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
            <button type="button" onclick="document.getElementById('createTaskModal').close()">Cancel</button>
        </form>
    </dialog>
{% endblock %}